source https://api.nuget.org/v3/index.json

nuget Persimmon

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget Nuget.CommandLine
  nuget SourceLink.Fake

  github fsharp/FAKE modules/Octokit/Octokit.fsx
